<body>
  <div class="container">
    <div class="row">
      <%= render "partials/profil_bar" %>
      <header class="col-md-12">
        <div class="title">
          <h1>Sports<br>events</h1>
          <h2>Tous vos événements sportifs <br> à un seul endroit</h2>
        </div>
      </header>
      <section class="col-md-12 black">
        <div class="col-md-4 col-md-offset-4 auth">
          <h3>Créer votre compte</h3>
          <ul>
            <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
            <% end %>
          </ul>
          <%= form_tag('/users/create', method: "post") do %>
            <%= text_field_tag "lastname", nil, :placeholder => 'Nom' %>
            <%= text_field_tag "firstname", nil, :placeholder => 'Prénom' %>
            <%= email_field_tag "email", nil, :placeholder => 'Adresse e-mail' %>
            <%= password_field_tag "password", nil, :placeholder => 'Mot de passe' %>
            <%= submit_tag("Créer") %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</body>