<body>
  <div class="container">
    <div class="row">
      <%= render "partials/profil_bar" %>
      <header class="col-md-12">
        <div class="title-with-subtitle">
          <h1>Sports<br>events</h1>
          <h2>Tous vos événements sportifs <br> à un seul endroit</h2>
        </div>
        <div class="subtitle">
          <h3>De quels sports souhaitez-vous voir les événements ?</h3>
          <a href="/" class="sports-send">Terminé</a>
        </div>
      </header>
      <section class="col-md-12 black">
        <div class="row">
          <% @sports.each do |sport| %>
          <div class="col-md-4 sports-selection sport-selection">
            <p class="sport-name"><%= sport.title %></p>
            <% if @follows.where(sport: sport).count==0 %>
              <button type="button" data-sport="<%= sport.id %>" class="sport-subscription">S'abonner</button>
            <% else %>
              <button type="button" data-sport="<%= sport.id %>" class="sport-subscription subscriber">Se désabonner</button>
            <% end %>
            <hr class="sport-border" data-color="<%= sport.color %>">
            <%= image_tag("/uploads/"+sport.icon) %>
          </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</body>