<section class="col-md-12 nopadding top">
  <div class="top-subscribe">
    <% if session[:user_id] %>
      <%= link_to 'Gérer vos abonnements', sports_selection_path, class: "subscriptions" %>
    <% end %>
  </div>
  <div class="top-user">
    <% if session[:user_id] %>
      <p>
        <%= link_to session[:user_firstname] + " " + session[:user_lastname], controller: "users", action: "show", id: session[:user_id] %>
      <p>
      <%= image_tag("/uploads/" + session[:user_picture]) %>
    <% else %>
      <%= link_to 'Connectez-vous', auth_login_path, class: "login" %>

      <span class="has-tooltip" data-toggle="tooltip" data-placement="bottom"  title="Et bénéficiez de services personnalisés : abonnements à des sports, filtres de tris…"><%= link_to 'Inscrivez-vous', auth_register_path, class: "register" %></span>
    <% end %>
  </div>
</section>