<h1>Users#edit</h1>
<p>Find me in app/views/users/update.html.erb</p>

<%= form_for @user do |f| %>
  <%= f.text_field :firstname %>
  <%= f.text_field :lastname %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end %>