<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.firstname %>
<%= @user.lastname %>
<%= @user.email %>
<%= @user.rank %>
<%= link_to "Edit", controller: "users", action: "edit", id: @user %>
