<body id="page-event" data-sport="<%= @event.sport.background %>" data-event="<%= @event.id %>" class="page-event">
  <div class="container">
    <div class="row">
      <%= render "partials/profil_bar"%>
      <section class="col-md-12 nopadding">
        <div class="event-img">
          <%= image_tag("/uploads/"+@event.cover) %>
        </div>
        <div class="event-informations">
          <ul>
            <li><i class="icon-adresse"></i><%= @event.adresse %></li>
            <li><i class="icon-date"></i><%= @event.date %></li>
            <li><i class="icon-like"></i><span id="event-count"><%= @event.likes.count %></span> like</li>
          </ul>
        </div>
      </section>
        <section class="col-md-12 nopadding">
          <div class="col-md-8 col-md-offset-2 event-description">
            <h1><%= @event.title %></h1>
            <p><%= @event.description %></p>
            <% if session[:user_id] %>
              <div class="liker">
                <% if @have_like > 0 %>
                  <%= link_to 'Unlike', sports_selection_path, id: "event-like", class: "active" %>
                <% else %>
                  <%= link_to 'Like', sports_selection_path, id: "event-like" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <% if session[:user_id] %>
            <div class="col-md-8 col-md-offset-2 event-comments">
              <% @event.comments.each do |comment| %>
                <div class="comment">
                  <p class="author"><%= comment.user.firstname %> - 17.01.2014</p>
                  <p class="message"><%= comment.message %></p>
                  <hr>
                </div>
              <% end %>
              <div class="response">
                <p>Qu'en pensez-vous ?</p>
                <%= form_tag('/actions/comment', method: "post") do %>
                  <%= text_area_tag "message", nil, :placeholder => 'Je pense que ...' %>
                  <%= hidden_field_tag 'id', @event.id %>
                  <%= submit_tag("Répondre") %>
                <% end %>
              </div>
            </div>
          <% end %>
        </section>

      <section id="sidebar-user" class="sidebar-user">
        <div id="sidebar-close" class="sidebar-close">
          <i class="icon-close"></i>
        </div>
        <div class="sidebar-img">
          <img id="sidebar-user-img" src="" alt="" />
        </div>
        <h1 id="sidebar-user-title"></h1>
        <hr>
        <div class="sidebar-like">
          <i class="icon-like"></i><span>Likes</span>
          <ul>
            <li>Plateau quarts et demi-finales - Coupe de France U17</li>
            <li>Finale du Top 14 saison 2014-2015</li>
            <li>Plateau quarts et demi-finales - Coupe de France U17</li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</body>