<body id="page-event" class="page-event">
  <div class="container">
    <div class="row">
      <%= render "partials/profil_bar"%>
      <section class="col-md-12 nopadding">
        <div class="event-img">
          <%= image_tag("/uploads/"+@event.cover) %>
        </div>
        <div class="event-informations">
          <ul>
            <li><i class="icon-adresse"></i><%= @event.adresse %></li>
            <li><i class="icon-date"></i>01.12.14</li>
            <li><i class="icon-like"></i>0 like</li>
          </ul>
        </div>
      </section>
      <section class="col-md-12 nopadding">
        <div class="col-md-8 col-md-offset-2 event-description">
          <h1><%= @event.title %></h1>
          <p><%= @event.description %></p>
          <div class="liker">
            <%= link_to 'Like', sports_selection_path, class: "subscriptions" %>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 event-comments">
          <div class="comment">
            <p class="author">Marie - 17.01.2014</p>
            <p class="message">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet </p>
            <hr>
          </div>
          <div class="comment">
            <p class="author">Marie - 17.01.2014</p>
            <p class="message">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet </p>
            <hr>
          </div>
          <div class="comment">
            <p class="author">Marie - 17.01.2014</p>
            <p class="message">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet </p>
            <hr>
          </div>
          <div class="response">
            <p>Qu'en pensez-vous ?</p>
            <%= form_tag('/users/create', method: "post") do %>
            <%= text_area_tag "message", nil, :placeholder => 'Je pense que ...' %>
            <%= submit_tag("Répondre") %>
            <% end %>
          </div>
        </div>
      </section>

      <section class="sidebar-user" style="display:none">
        <div class="sidebar-img">
          <%= image_tag("basket.jpg") %>
        </div>
        <h1>Jeffrey Williamson</h1>
        <hr>
        <div class="sidebar-like">
          <i class="icon-like"></i><span>Likes</span>
          <ul>
            <li>Plateau quarts et demi-finales - Coupe de France U17</li>
            <li>Finale du Top 14 saison 2014-2015</li>
            <li>Plateau quarts et demi-finales - Coupe de France U17</li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</body>