<h1>Create a new event</h1>
<div class="col-lg-6">
  <%= simple_form_for @event do |f| %>
    <%= f.input :sport_id, :collection => Sport.all.map{|u| [u.title, u.id]} %>
    <%= f.input :title %>
    <%= f.file_field(:cover, accept: 'image/png,image/gif,image/jpeg') %>
    <%= f.input :description %>
    <%= f.input :adresse %>
    <%= f.button :submit %>
  <% end %>
</div>