<body>
  <div class="container">
    <div class="row">
      <%= render "partials/profil_bar" %>
      <header class="col-md-12">
        <div class="title">
          <h1>Sports<br>events</h1>
          <h2>Tous vos événements sportifs <br> à un seul endroit</h2>
        </div>
        <% if session[:user_id] %>
        <nav>
          <i class="icon-filtre"></i>
          <p class="filter">Filtres</p>
          <ul class="popular">
            <li id="pop" class="filter-sport pop" data-color="#fefefe">Populaires</li>
          </ul>
          <ul class="filter-sports">
            <% @sports.each do |sport| %>
              <li class="filter-sport <%= sport.title.downcase %> <% if session[:user_follows][sport.title] %>active<% end %>" data-color="<%= sport.color %>"><%= sport.title %></li>
            <% end %>
          </ul>
        </nav>
        <% end %>
      </header>
      <section class="col-md-12 nopadding home">
        <% @events.each do |event| %>
        <div class="col-md-3 nopadding event-small">
          <div class="event-small-img">
            <%= image_tag("/uploads/"+event.cover) %>
          </div>
          <div class="event-small-description">
            <p class="event-small-sport"><%= event.sport.title %></p>
            <p class="event-small-title"><%= link_to event.title, controller: "events", action: "app_show", id: event %></p>
            <p class="event-small-date"><%= event.date %></p>
          </div>
          <hr class="event-border" data-color="<%= event.sport.color %>">
        </div>
        <% end %>
      </section>
    </div>
  </div>
</body>