<div class="container">
  <div class="row">
    <section class="col-md-12 nopadding top">
      <div class="top-subscribe">
        <button type="button" class="subscriptions">Gérer vos abonnements</button>
      </div>
      <div class="top-user">
        <p>Turquand Audrey</p>
        <%= image_tag("basket.jpg") %>
      </div>
    </section>
    <header class="col-md-12">
      <div class="title">
        <h1>Sports<br>events</h1>
        <h2>Tous vos événements sportifs <br> à un seul endroit</h2>
      </div>
      <nav>
        <i class="icon-filtre"></i>
        <p class="filter">Filtres</p>
        <ul class="popular">
          <li>Populaires</li>
        </ul>
        <ul class="filter-sports">
          <li class="basket">Basket</li>
          <li class="football">Football</li>
          <li>Course à pied</li>
          <li>Basket</li>
          <li>Basket</li>
        </ul>
      </nav>
    </header>
    <section class="col-md-12 nopadding home">
      <div class="col-md-3 nopadding event-small">
        <div class="event-small-img">
          <%= image_tag("basket.jpg") %>
        </div>
        <div class="event-small-description">
          <p class="event-small-sport">Basket</p>
          <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
          <p class="event-small-date">10.12.2014</p>
        </div>
        <hr class="basket">
      </div>
      <div class="col-md-3 nopadding event-small">
        <div class="event-small-img">
          <%= image_tag("basket.jpg") %>
        </div>
        <div class="event-small-description">
          <p class="event-small-sport">Basket</p>
          <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
          <p class="event-small-date">10.12.2014</p>
        </div>
        <hr class="basket">
      </div>
      <div class="col-md-3 nopadding event-small">
        <div class="event-small-img">
          <%= image_tag("basket.jpg") %>
        </div>
        <div class="event-small-description">
          <p class="event-small-sport">Basket</p>
          <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
          <p class="event-small-date">10.12.2014</p>
        </div>
        <hr class="basket">
      </div>
       <div class="col-md-3 nopadding event-small">
        <div class="event-small-img">
          <%= image_tag("basket.jpg") %>
        </div>
        <div class="event-small-description">
          <p class="event-small-sport">Basket</p>
          <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
          <p class="event-small-date">10.12.2014</p>
        </div>
        <hr class="basket">
      </div>
       <div class="col-md-3 nopadding event-small">
        <div class="event-small-img">
          <%= image_tag("basket.jpg") %>
        </div>
        <div class="event-small-description">
          <p class="event-small-sport">Basket</p>
          <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
          <p class="event-small-date">10.12.2014</p>
        </div>
        <hr class="basket">
      </div>
    </section>
  </div>
</div>
