  <nav>
    <i class="icon-filtre"></i>
    <p class="filter">Filtres</p>
    <ul class="popular">
      <li>Populaires</li>
    </ul>
    <ul class="filter-sports">
      <li class="basket">Basket</li>
      <li class="football">Football</li>
      <li>Course à pied</li>
      <li>Basket</li>
      <li>Basket</li>
    </ul>
  </nav>
</header>
<section class="col-md-12 nopadding home">
  <div class="col-md-3 nopadding event-small">
    <div class="event-small-img">
      <%= image_tag("basket.jpg") %>
    </div>
    <div class="event-small-description">
      <p class="event-small-sport">Basket</p>
      <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
      <p class="event-small-date">10.12.2014</p>
    </div>
    <hr class="basket">
  </div>
  <div class="col-md-3 nopadding event-small">
    <div class="event-small-img">
      <%= image_tag("basket.jpg") %>
    </div>
    <div class="event-small-description">
      <p class="event-small-sport">Basket</p>
      <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
      <p class="event-small-date">10.12.2014</p>
    </div>
    <hr class="basket">
  </div>
  <div class="col-md-3 nopadding event-small">
    <div class="event-small-img">
      <%= image_tag("basket.jpg") %>
    </div>
    <div class="event-small-description">
      <p class="event-small-sport">Basket</p>
      <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
      <p class="event-small-date">10.12.2014</p>
    </div>
    <hr class="basket">
  </div>
   <div class="col-md-3 nopadding event-small">
    <div class="event-small-img">
      <%= image_tag("basket.jpg") %>
    </div>
    <div class="event-small-description">
      <p class="event-small-sport">Basket</p>
      <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
      <p class="event-small-date">10.12.2014</p>
    </div>
    <hr class="basket">
  </div>
   <div class="col-md-3 nopadding event-small">
    <div class="event-small-img">
      <%= image_tag("basket.jpg") %>
    </div>
    <div class="event-small-description">
      <p class="event-small-sport">Basket</p>
      <p class="event-small-title">Plateau quarts et demi-finales - Coupe de France U17</p>
      <p class="event-small-date">10.12.2014</p>
    </div>
    <hr class="basket">
  </div>
</section>
