<!DOCTYPE html>
<html>
<head>
  <title>RailsTwitterLike</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/users">SB Admin</a>
      </div>
      <!-- Top Menu Items -->
      <ul class="nav navbar-right top-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
          <% if session[:user_id] %>
            <%= session[:user_firstname] %> <%= session[:user_lastname] %>
          <% end %>
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Logout", controller: "auth", action: "destroy" %>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
          <li>
            <%= link_to "Create user", controller: "users", action: "new"%>
          </li>
          <li>
            <%= link_to "List users", controller: "users", action: "index"%>
          </li>
          <li>
            <%= link_to "Create sport", controller: "sports", action: "new"%>
          </li>
          <li>
            <%= link_to "List sport", controller: "sports", action: "index"%>
          </li>
          <li>
            <%= link_to "Create event", controller: "events", action: "new"%>
          </li>
          <li>
            <%= link_to "List sports", controller: "events", action: "index"%>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper">

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>