<!DOCTYPE html>
<html>
<head>
  <title>RailsTwitterLike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <section class="col-md-12 nopadding top">
        <div class="top-subscribe">
          <button type="button" class="subscriptions">Gérer vos abonnements</button>
        </div>
        <div class="top-user">
          <p>Turquand Audrey</p>
          <%= image_tag("basket.jpg") %>
        </div>
      </section>
      <header class="col-md-12">
        <div class="title">
          <h1>Sports<br>events</h1>
          <h2>Tous vos événements sportifs <br> à un seul endroit</h2>
        </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
