<!DOCTYPE html>
<html>
<head>
  <title>RailsTwitterLike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <section class="col-md-12 nopadding top">
        <div class="top-subscribe">
          <% if session[:user_id] %>
            <%= link_to 'Gérer vos abonnements', auth_login_path, class: "subscriptions" %>
          <% end %>
        </div>
        <div class="top-user">
          <% if session[:user_id] %>
            <p>
              <%= link_to session[:user_firstname] + " " + session[:user_lastname], controller: "users", action: "show", id: session[:user_id] %>
            <p>
            <%= image_tag("basket.jpg") %>
          <% else %>
            <%= link_to 'Register', auth_register_path, class: "subscriptions" %>

            <%= link_to 'Login', auth_login_path, class: "subscriptions" %>
          <% end %>
        </div>
      </section>
      <header class="col-md-12">
        <div class="title">
          <h1>Sports<br>events</h1>
          <h2>Tous vos événements sportifs <br> à un seul endroit</h2>
        </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
